In [2]:
import numpy as np
import pandas as pd
import datetime

In [18]:
#Считываем данные из файла
btc = pd.read_csv("coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv")
btc.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1417412100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1417412160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1417412220,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ОБЩАЯ ИНФОРМАЦИЯ О ТАБЛИЦЕ

In [14]:
print("Колличество строк в таблице:",btc.shape[0])
print("Колличество столбцов в таблице:",btc.shape[1])

Колличество строк в таблице: 2099760
Колличество столбцов в таблице: 8

In [17]:
btc.info() #информация о типах данных по столбцам

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1990691 entries, 2014-12-01 08:33:00 to 2019-01-08 01:06:00
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   Open               float64
 1   High               float64
 2   Low                float64
 3   Close              float64
 4   Volume_(BTC)       float64
 5   Volume_(Currency)  float64
 6   Weighted_Price     float64
dtypes: float64(7)
memory usage: 121.5 MB

In [19]:
btc.nunique() #колличество уникальных элементов

Timestamp            2099760
Open                  444693
High                  411181
Low                   432869
Close                 445377
Volume_(BTC)         1469258
Volume_(Currency)    1988070
Weighted_Price       1786140
dtype: int64

In [31]:
btc["Weighted_Price"].value_counts().head() #максимальное количество одинаковых цен

420.00     143
238.00     134
575.99     127
1014.00    112
924.99     104
Name: Weighted_Price, dtype: int64

In [33]:
btc.isna().sum() #количество недостающих элементов

Timestamp                 0
Open                 109069
High                 109069
Low                  109069
Close                109069
Volume_(BTC)         109069
Volume_(Currency)    109069
Weighted_Price       109069
dtype: int64

In [34]:
btc.isna().mean() #среднее колличество недостающих элементов

Timestamp            0.000000
Open                 0.051944
High                 0.051944
Low                  0.051944
Close                0.051944
Volume_(BTC)         0.051944
Volume_(Currency)    0.051944
Weighted_Price       0.051944
dtype: float64

In [ ]:
ПРЕОБРАЗОВАНИЕ ТАБЛИЦЫ

In [45]:
#Преобразование специального вида дат в нормальное через модуль datetime
btc.index=btc["Timestamp"].apply(lambda x:datetime.datetime.fromtimestamp(x))
del btc["Timestamp"]
btc.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
2014-12-01 08:33:00,300.0,300.0,300.0,300.0,0.010000,3.00000,300.0
2014-12-01 08:40:00,300.0,300.0,300.0,300.0,0.010000,3.00000,300.0
2014-12-01 09:24:00,370.0,370.0,370.0,370.0,0.010000,3.70000,370.0
2014-12-01 09:50:00,370.0,370.0,370.0,370.0,0.026556,9.82555,370.0
2014-12-02 08:29:00,377.0,377.0,377.0,377.0,0.010000,3.77000,377.0

In [21]:
#В таблице много неизвестных значений Nan, удалим их
btc.dropna(inplace=True)
btc.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.010000,3.00000,300.0
7,1417412400,300.0,300.0,300.0,300.0,0.010000,3.00000,300.0
51,1417415040,370.0,370.0,370.0,370.0,0.010000,3.70000,370.0
77,1417416600,370.0,370.0,370.0,370.0,0.026556,9.82555,370.0
1436,1417498140,377.0,377.0,377.0,377.0,0.010000,3.77000,377.0

In [20]:
btc.tail()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
2099755,1546898520,4006.01,4006.57,4006.00,4006.01,3.382954,13553.433078,4006.390309
2099756,1546898580,4006.01,4006.57,4006.00,4006.01,0.902164,3614.083169,4006.017233
2099757,1546898640,4006.01,4006.01,4006.00,4006.01,1.192123,4775.647308,4006.003635
2099758,1546898700,4006.01,4006.01,4005.50,4005.50,2.699700,10814.241898,4005.719991
2099759,1546898760,4005.51,4006.01,4005.51,4005.99,1.752778,7021.183546,4005.745614

In [ ]:
СТАТИСТИКИ

In [33]:
btc.describe() #Общая статистика

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
count,1.990691e+06,1.990691e+06,1.990691e+06,1.990691e+06,1.990691e+06,1.990691e+06,1.990691e+06,1.990691e+06
mean,1.485965e+09,3.246403e+03,3.247829e+03,3.244856e+03,3.246403e+03,7.849139e+00,3.600157e+04,3.246341e+03
std,3.579676e+07,3.799154e+03,3.801394e+03,3.796761e+03,3.799150e+03,1.873222e+01,1.401879e+05,3.799078e+03
min,1.417412e+09,6.000000e-02,6.000000e-02,6.000000e-02,6.000000e-02,1.000000e-08,2.641700e-06,6.000000e-02
25%,1.455342e+09,4.195800e+02,4.196400e+02,4.195000e+02,4.195700e+02,9.024000e-01,6.440031e+02,4.195645e+02
50%,1.486788e+09,1.014580e+03,1.014890e+03,1.014150e+03,1.014530e+03,2.692900e+00,3.695642e+03,1.014512e+03
75%,1.516933e+09,6.322630e+03,6.324010e+03,6.321090e+03,6.322670e+03,7.600965e+00,1.972392e+04,6.322550e+03
max,1.546899e+09,1.989199e+04,1.989199e+04,1.989198e+04,1.989199e+04,1.563267e+03,1.997076e+07,1.989199e+04

In [36]:
btc["High"].max() #Максимальная цена биткоина

19891.99

In [37]:
btc["High"].median()

1014.89

In [38]:
btc["High"].min()

0.06

In [42]:
btc[btc['Weighted_Price']>2000].head() # Выберем строки, где общая цена покупки более $2000

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
1239825,1495302720,2000.00,2001.99,1999.99,2001.99,146.542529,293111.940870,2000.183450
1239826,1495302780,2001.99,2003.99,2001.98,2003.98,76.014026,152251.668540,2002.941772
1239827,1495302840,2003.98,2007.33,2003.91,2007.33,41.750098,83723.937960,2005.359090
1239828,1495302900,2007.18,2007.33,2006.91,2006.99,23.337367,46841.231477,2007.134376
1239829,1495302960,2006.97,2006.98,2006.13,2006.94,14.267308,28632.621426,2006.869270

In [ ]:
УЗНАЕМ СКОЛЬКО СТОИЛ БИТКОИН В РУБЛЯХ

In [18]:
btc = pd.read_csv("coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv")
usd_rub=pd.read_excel("DS_rub-usb_2000-2020.xlsx") #Подгружаем DataSet с курсом рубль-доллар

In [19]:
btc.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1417412100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1417412160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1417412220,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
usd_rub.head()

   nominal       data   curs         cdx
0        1 2000-03-21  28.39  Доллар США
1        1 2000-03-22  28.38  Доллар США
2        1 2000-03-23  28.36  Доллар США
3        1 2000-03-24  28.34  Доллар США
4        1 2000-03-25  28.33  Доллар США

In [21]:
btc.index=btc["Timestamp"].apply(lambda x:datetime.datetime.fromtimestamp(x))
del btc["Timestamp"]
btc.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
2014-12-01 08:33:00,300.0,300.0,300.0,300.0,0.01,3.0,300.0
2014-12-01 08:34:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-01 08:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-01 08:36:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-01 08:37:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
#btc.index(2)=btc["High"].apply(lambda x: x*2)
btc.loc

In [98]:
usd_rub["data"]=usd_rub["data"].astype(str)

In [103]:
usd_rub.info()
print(usd_rub["data"][0][0])
type(usd_rub["data"][0])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4968 entries, 0 to 4967
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nominal  4968 non-null   int64
 1   data     4968 non-null   object
 2   curs     4968 non-null   float64
 3   cdx      4968 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 155.4+ KB
2

str

In [115]:
btc.insert(1,"NewData",usd_rub["data"][0])

In [116]:
#del btc["NewData"]
btc.head(1000)

,Open,NewData,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,,
2014-12-01 08:33:00,300.00,2000-03-21,300.00,300.00,300.00,0.010000,3.00000,300.000
2014-12-01 08:40:00,300.00,2000-03-21,300.00,300.00,300.00,0.010000,3.00000,300.000
2014-12-01 09:24:00,370.00,2000-03-21,370.00,370.00,370.00,0.010000,3.70000,370.000
2014-12-01 09:50:00,370.00,2000-03-21,370.00,370.00,370.00,0.026556,9.82555,370.000
2014-12-02 08:29:00,377.00,2000-03-21,377.00,377.00,377.00,0.010000,3.77000,377.000
...,...,...,...,...,...,...,...,...
2015-01-16 01:55:00,205.15,2000-03-21,206.85,205.15,206.85,0.030000,6.18210,206.070
2015-01-16 01:56:00,203.68,2000-03-21,206.53,203.68,206.53,0.020000,4.10210,205.105
2015-01-16 01:57:00,209.74,2000-03-21,209.74,204.49,209.56,0.030000,6.23790,207.930
2015-01-16 01:58:00,208.36,2000-03-21,209.82,208.36,209.82,0.020000,4.18180,209.090
2015-01-16 01:59:00,208.16,2000-03-21,208.16,204.82,204.82,0.020000,4.12980,206.490

In [121]:
btc.index()

DatetimeIndex(['2014-12-01 08:33:00', '2014-12-01 08:40:00',
               '2014-12-01 09:24:00', '2014-12-01 09:50:00',
               '2014-12-02 08:29:00', '2014-12-02 13:59:00',
               '2014-12-02 14:04:00', '2014-12-02 14:05:00',
               '2014-12-02 21:43:00', '2014-12-02 21:58:00',
               ...
               '2019-01-08 00:57:00', '2019-01-08 00:58:00',
               '2019-01-08 00:59:00', '2019-01-08 01:00:00',
               '2019-01-08 01:01:00', '2019-01-08 01:02:00',
               '2019-01-08 01:03:00', '2019-01-08 01:04:00',
               '2019-01-08 01:05:00', '2019-01-08 01:06:00'],
              dtype='datetime64[ns]', name='Timestamp', length=1990691, freq=None)