In [35]:
import numpy as np
import pandas as pd
import datetime

In [52]:
#Считываем данные из файла
btc = pd.read_csv("coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv")
btc.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1417412100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1417412160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1417412220,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ОБЩАЯ ИНФОРМАЦИЯ О ТАБЛИЦЕ

In [14]:
print("Колличество строк в таблице:",btc.shape[0])
print("Колличество столбцов в таблице:",btc.shape[1])

Колличество строк в таблице: 2099760
Колличество столбцов в таблице: 8

In [15]:
btc.info() #информация о типах данных по столбцам

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2099760 entries, 0 to 2099759
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   Timestamp          int64
 1   Open               float64
 2   High               float64
 3   Low                float64
 4   Close              float64
 5   Volume_(BTC)       float64
 6   Volume_(Currency)  float64
 7   Weighted_Price     float64
dtypes: float64(7), int64(1)
memory usage: 128.2 MB

In [19]:
btc.nunique() #колличество уникальных элементов

Timestamp            2099760
Open                  444693
High                  411181
Low                   432869
Close                 445377
Volume_(BTC)         1469258
Volume_(Currency)    1988070
Weighted_Price       1786140
dtype: int64

In [31]:
btc["Weighted_Price"].value_counts().head() #максимальное количество одинаковых цен

420.00     143
238.00     134
575.99     127
1014.00    112
924.99     104
Name: Weighted_Price, dtype: int64

In [33]:
btc.isna().sum() #количество недостающих элементов

Timestamp                 0
Open                 109069
High                 109069
Low                  109069
Close                109069
Volume_(BTC)         109069
Volume_(Currency)    109069
Weighted_Price       109069
dtype: int64

In [34]:
btc.isna().mean() #среднее колличество недостающих элементов

Timestamp            0.000000
Open                 0.051944
High                 0.051944
Low                  0.051944
Close                0.051944
Volume_(BTC)         0.051944
Volume_(Currency)    0.051944
Weighted_Price       0.051944
dtype: float64

In [ ]:
ПРЕОБРАЗОВАНИЕ ТАБЛИЦЫ

In [53]:
#Преобразование специального вида дат в нормальное через модуль datetime
btc.index=btc["Timestamp"].apply(lambda x:datetime.datetime.fromtimestamp(x))
del btc["Timestamp"]
btc.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
2014-12-01 08:33:00,300.0,300.0,300.0,300.0,0.01,3.0,300.0
2014-12-01 08:34:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-01 08:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-01 08:36:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-12-01 08:37:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN